@mixin u-m($size, $unit){
    .u-mt--#{$size} {
        margin-bottom: $unit * 1rem !important;
    }
    .u-ml--#{$size} {
        margin-bottom: $unit * 1rem !important;
    }
    .u-mb--#{$size} {
        margin-bottom: $unit * 1rem !important;
    }
    .u-mr--#{$size} {
        margin-bottom: $unit * 1rem !important;
    }
}

@mixin u-p($size, $unit){
    .u-pt--#{$size} {
        padding-bottom: $unit * 1rem !important;
    }
    .u-pl--#{$size} {
        padding-bottom: $unit * 1rem !important;
    }
    .u-pb--#{$size} {
        padding-bottom: $unit * 1rem !important;
    }
    .u-pr--#{$size} {
        padding-bottom: $unit * 1rem !important;
    }
}

@include u-m(xs, .5);
@include u-m(s, 1);
@include u-m(m, 2);
@include u-m(l, 3);
@include u-m(xl, 4);
@include u-m(xxl, 5);

@include u-p(xs, .5);
@include u-p(s, 1);
@include u-p(m, 2);
@include u-p(l, 3);
@include u-p(xl, 4);
@include u-p(xxl, 5);